@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .all {
        width: 100%;
    }

    .f {
        width: 98vw;
        height: 20vh;
        margin-left: 0;
    }
}